<!--  -->

{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    {#% for key, value in results.items() %#}
        <div class="mb-3">
            <h1>Here is your portfolio summary</h1>

            <!-- Display html table with the following -->
            <table>
                <thead>
                    <tr>
                        <th>Stock</th>
                        <th>Number of shares</th>
                        <th>Stock current price</th>
                        <th>Total value</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ key }}: </td>
                        <td>{{ value }}</td>
                        <td>{{ value }}</td>
                        <td>{{ value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {#% endfor %#}
{% endblock %}