<!-- HTML table summarizing, for the user currently logged in,
which stocks the user owns,
the numbers of shares owned,
the current price of each stock,
and the total value of each holding (i.e., shares times price).
Also display the user’s current cash balance along with a grand
total (i.e., stocks’ total value plus cash) -->

{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h2>Here is a summary of your portfolio:</h2>
        <table>
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Number of shares</th>
                    <th>Current stock price</th>
                    <th>Total stock value</th>
                </tr>
            </thead>
            <tbody>
                {% for item in portfolio %}
                    <tr>
                        <td>{{ item["stock"] }}</td>
                        <td>{{ item["SUM(shares)"] }}</td>
                        <td>{{ current_prices[item["stock"]] | usd }}</td>
                        <td>{{ (item["SUM(shares)"] * current_prices[item["stock"]]) | usd }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td></td><td></td>
                        <td>{{ "Cash balance:" }}</td>
                        <td>{{funds[0]["cash"] | usd }}</td>
                    </tr>
                    <tr>
                        <td></td><td></td>
                        <td><b>{{ "Grand total:" }}</b></td>
                        <td>{{(total_value + funds[0]["cash"]) | usd }}</td>
                    </tr>
            </tbody>
        </table>
{% endblock %}