<!-- HTML table summarizing, for the user currently logged in,
which stocks the user owns,
the numbers of shares owned,
the current price of each stock,
and the total value of each holding (i.e., shares times price).
Also display the user’s current cash balance along with a grand
total (i.e., stocks’ total value plus cash) -->

{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h4>Here is a summary of your portfolio:</h4>
    <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Stock</th>
                    <th class="text-start">Shares</th>
                    <th class="text-center">Current stock price</th>
                    <th class="text-end">Total stock value</th>
                    <th class="text-end">Buy or Sell stock</th>
                </tr>
            </thead>
            <tbody>
                {% for item in owned_stocks %}
                    <tr>
                        <td>{{ item["stock"] }}</td>
                        <td>{{ item["shares"] }}</td>
                        <td>{{ item["price"] | usd }}</td>
                        <td>{{ (item["shares"] * item["price"]) | usd }}</td>
                        <td>
                            <!-- Add form to buy or sell particular stock -->
                            <form action="/buy" method="post">
                                <input name="symbol" type="hidden" value="{{ item.stock }}">
                                <input class="btn btn-outline-info btn-sm" name="shares" type="number" placeholder="No. shares">
                                <input class="btn btn-primary" type="submit" value="Buy">
                                <input class="btn btn-primary" type="submit" value="Sell" formaction="/sell">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center">{{ "Cash balance:" }}</td>
                    <td class="text-end">{{ funds[0]["cash"] | usd }}</td>
                </tr>
                <tr>
                    <td><b>{{ "Grand total:" }}</b></td>
                    <td><b>{{ (total_value + funds[0]["cash"]) | usd }}</b></td>
                </tr>
            </tfoot>
        </table>
        <script>
            /*document.addEventListener("click", function(){
            document.getElementByClass("buy").innerHTML = "hello!"
            });*/

            let purchase = document.querySelectorAll(".buy");
            for (let i = 0; i < purchase.length; i++)
                {
                    purchase[i].addEventListener("click", function(){
                        /*purchase[i].style.backgroundColor = "red";*/
                        print(url_for('www.google.com'));
                    });
                }s
            /*document.addEventListener("click", function(){
            document.getElementById("buy");
            return render_template("buy.html");
            });*/
        </script>
{% endblock %}