<!-- Table showing name, price and symbol for stock user wants to buy
A share of First Trust Exchange-Traded Fund III - First Trust Large Cap Core AlphaDEX Fund (FEX) costs $82.37.-->

{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <h4 class="text-secondary">Here is the quote for the requested stock:</h4>
    <br>
<!-- <table class="table table-bordered table-striped text-center">
        {% for key, value in results.items() %}
            <tr>
                <td>{{ key }}:</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table> -->
    <p>
        A share of costs $
    </p>
{% endblock %}