<!-- Display of form to input stock symbol and number of shares user wants to sell  -->

{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <label for="symbol">Stock:&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <select class="btn btn-success" name="symbol" id="symbol" placeholder="Symbol">
            <option>Select</option>
                {% for item in user_stocks %}
                    <option>{{ item }}</option>
                {% endfor %}
            </select>
            <br><br>
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of shares" type="number">
        </div>

        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}